:root {
  --crimson: #DF1F2D;
  --carnelian: #B11313;
  --cobalt: #2B3784;
  --azure: #447BBE;
  --name-size: 2rem;
  --header-ratio: 3;
  --header-height: calc(var(--name-size) * var(--header-ratio));
  --avatar-size: var(--name-size);
  --message-size:1.1rem;
}
* {
  box-sizing: border-box;
}
html, body {
  font-family: Roboto, Sans-Serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  background: var(--carnelian);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  height: 100%;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--header-height);
  color: white;
  background-color: var(--carnelian);
  width: 100%;
  filter:drop-shadow(3px 3px 5px black);
}
#avatar {
  position: absolute;
  left: 1rem;
  padding: 5px;
  font-size: var(--avatar-size);
  filter: drop-shadow(1px 1px 5px black);
  border-radius: 50%;
  background: white;
}
#name {
  position: absolute;
  left: calc(3rem + var(--avatar-size));
  text-shadow: 1px 1px 5px black;
  font-size: var(--name-size);
}
main {
position: relative;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: scroll;
  background: white;
}
section {
  background: var(--carnelian);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: calc(4.2rem + 15px);
}
.message-box {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 9px 0px;
}
.message {
  line-height: 1.5rem;
  padding: 0.5rem;
  font-size: var(--message-size);
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 7.5px;
  background: white;
  color:black;
}
#chat-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4.2rem;
  height: 4.2rem;
  margin: 15px;
  filter: drop-shadow(0px 0px 4px green);
}
#link {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4.2rem;
  height: 4.2rem;
  margin: 15px;
  background: transparent;
}
