:root {
  --green: rgb(217, 253, 211);
  --header-color: #008080;
  --blue: lightblue;
  --red: lightpink;
  --name-size: 1.4rem;
  --business-size: 1.2rem;
  --message-size: 1rem;
  --menu-size: 1.1rem;
  --menu-items: 3;
  --menu-ratio: 2;
  --menu-height: calc((var(--emoji-size) * var(--menu-items)) * var(--menu-ratio));
  --emoji-size: 1.2rem;
  --header-ratio: 1.7;
  --header-height: calc((var(--name-size) + var(--business-size)) * var(--header-ratio));
  --avatar-size: calc(var(--name-size) + var(--business-size))
}

* {
  image-rendering: -webkit-optimize-contrast;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Sans-Serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgb(10, 10, 10);
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#app {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  height: 100%;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--header-height);
  color: #fff;
  width: 100%;
}

#avatar {
  position: absolute;
  left: 1rem;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  background: var(--blue);
}

#avatar img {
  height: var(--avatar-size);
  width: var(--avatar-size);
  object-fit: cover;
  border-radius: 50%;
}

#header-text {
  position: absolute;
  left: calc(2rem + var(--avatar-size));
}

#name {
  font-size: var(--name-size);
}

#business {
  font-size: var(--business-size);
}

#ic_more {
  position: absolute;
  right: 22px;
  height: 1.5rem;
  width: auto;
  padding: 0 10px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: auto;
  height: 0;
  padding: 0 10px;
  background: rgb(50, 50, 50);
  color: white;
  box-shadow: 2px 2px 8px black;
  overflow: hidden;
  transition: all 0.1s;
  font-size: var(--menu-size);
  opacity: 0;
}

#menu div {
  padding: 7px 0;
}

.header-background {
  image-rendering: -webkit-optimize-contrast;
  background-image: url("header.webp");
  background-color: #005e54;
  height: var(--header-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-image: url("main.webp");
  background-color: #005e54;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: scroll;
}

section {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: calc(4rem + 8px);
}

.message-box {
  display: flex;
  justify-content: start;
  /*background: var(--blue);*/
  width: 100%;
  padding: 6px 0px;
}

.message {
  line-height: 1.3rem;
  padding: 0.5rem;
  font-size: var(--message-size);
  width: auto;
  max-width: 85%;
  height: auto;
  border-radius: 7.5px;
  background: rgb(217, 253, 211);
}

.image-message-box {
  display: flex;
  justify-content: start;
  width: 100%;
  height: auto;
  padding: 6px 0;
  filter: drop-shadow(0 0 6px rgba(10, 10, 10, 0.5));
}

.sticker-message-box {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 110px;
  padding: 10px;
  filter: drop-shadow(0 0 6px rgba(10, 10, 10, 0.5));
}

.sticker-message-box img {
  height: 100%;
  width: auto;
}

.portrait {
  height: 275px;
}

.landscape {
  height: 150px;
}

.image-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  /*max-width: 60%;*/
  height: 100%;
  padding: 3px;
  border-radius: 7.5px;
  background: rgb(217, 253, 211);
}

.image-message img {
  width: auto;
  height: 100%;
}

.message-box.right, .image-message-box.right, .sticker-message-box.right {
  justify-content: end;
}

.white {
  background: white;
}

.emoji {
  font-size: 2rem;
  padding: 2px;
}

.emoji-line {
  display: flex;
  align-items: center;
  padding: 2px;
}

#chat-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 8px;
  filter: drop-shadow(0 0 6px rgba(10, 10, 10, 0.5));
}

#link {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 8px;
  background: transparent;
}

/*@media screen and (orientation:landscape) {

}*/